{{!-- for view all link <a href="/character/"></a>
{{!-- for view one link <a href="/character/{{id}}"></a> --}}
{{!-- for DELETE button class= "delete-character-button" --}}
{{!-- <div>
    <h2>{{this.name}}</h2>
</div>
Hewwo

    {{bleh.name}}
    {{bleh.description}} --}}

      <div>
        <header class="headerbox">
          <h2>Your Characters</h2>
        </header>
      </div>
      {{#each characters as |char|}}
      <section class="sectionbox">
        <header class="header">
          <h3>{{char.name}}</h3> 
         </header>
          <div>
            <div>
              <img src="assets/images/filler.png" alt="assets/images/filler.png">
            </div>
            <header class="header">
             <h3>Description</h3> 
            </header>
            <article class="info">
                <h4>{{char.description}}</h4>
            </article>
            <header class="header">
              <h3>Race</h3> 
             </header>
            <article class="race">
                <h4>{{char.race}}</h4>
            </article>
            <header class="header">
              <h3>Class</h3> 
             </header>
            <article class="class">
                <h4>{{char.class}}</h4>
            </article>
          </div>
      </section>
      {{/each}}

      <div id="content-container">
          <header>
            <h1>Build your Character</h1>
          </header>
        <form class="input-container character-creation-form">
          <div>
            <h2>Name</h2>
            <input type="text" class="character-name" />
            <div>
              <button>Randomize</button>
            </div>
          </div>
          <div class="description">
            <h2>Description</h2>
            <textarea class="character-description" name ="Description" rows="10" cols="40">
              Input your backstory here.
            </textarea>
            <div>
              <button>Randomize</button>
            </div>
            <div>
              <label for="Class">Class</label>
              <select id="Class" class="character-class">
                  <option value="Class">Barbarian</option>
                  <option value="Class">Bard</option>
                  <option value="Class">Cleric</option>
                  <option value="Class">Druid</option>
                  <option value="Class">Fighter</option>
                  <option value="Class">Monk</option>
                  <option value="Class">Paladin</option>
                  <option value="Class">Ranger</option>
                  <option value="Class">Rogue</option>
                  <option value="Class">Sorcerer</option>
                  <option value="Class">Wizard</option>
                  <option value="Class">Warlock</option>
              </select>
          </div>
          <div>
              <label for="Race">Race</label>
              <select id="Race" class="character-race">
                  <option value="Race">Dragonborn</option>
                  <option value="Race">Dwarf</option>
                  <option value="Race">Elf</option>
                  <option value="Race">Gnome</option>
                  <option value="Race">Half-Elf</option>
                  <option value="Race">Halfling</option>
                  <option value="Race">Half-Orc</option>
                  <option value="Race">Human</option>
                  <option value="Race">Tiefling</option>
              </select>
          </div>
          <input  type="submit" value="Create Character">
        </form>
      </div>  
<div>
    <header class="headerbox">
        <h2>Your Characters</h2>
    </header>
</div>
{{#each characters as |char|}}
<section class="sectionbox">
    <header class="header">
        <h3>{{char.name}}</h3>
    </header>
    <div>
        <div>
            <img src="assets/images/filler.png" alt="assets/images/filler.png">
        </div>
        <header class="header">
            <h3>Description</h3>
        </header>
        <article class="info">
            <h4>{{char.description}}</h4>
        </article>
        <header class="header">
            <h3>Race</h3>
        </header>
        <article class="race">
            <h4>{{char.race}}</h4>
        </article>
        <header class="header">
            <h3>Class</h3>
        </header>
        <article class="class">
            <h4>{{char.class}}</h4>
        </article>
    </div>
</section>
{{/each}}


<script src="./js/characterSelection.js"></script>